build --experimental_repo_remote_exec
build -c opt
build --copt=-O3
build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14
build --keep_going
build --verbose_failures=true
build --spawn_strategy=standalone
build --genrule_strategy=standalone
build --define=grpc_no_ares=true
build --incompatible_blacklisted_protos_requires_proto_info=false
build --experimental_ui_max_stdouterr_bytes=10485760

# Adding "--cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0" creates parity with TF
# compilation options. It also addresses memory use due to
# copy-on-write semantics of std::strings of the older ABI.
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0

# Optimizations used for TF Serving release builds.
build:release --copt=-march=armv8.2-a
build:release --copt=-w

import %workspace%/../tensorflow-dls/.bazelrc

